/*-----------------소정_수정_추가-----------------*/
/*-----------------소정_수정_추가-----------------*/
/*-----------------소정_수정_추가-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url(icons/themify-icons/themify-icons.css);
@import url(icons/material-design-iconic-font/css/materialdesignicons.min.css);
@import url(icons/weather-icons/css/weather-icons.min.css);

.skyYellow{
  background-color: #FFFF99;
}
.skyBlue{
  background-color: #CCFFFF;
}

::-webkit-scrollbar {
  width: 5px;  /* 세로축 스크롤바 길이 */
  height: 5px;  /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: lightblue;
}
::-webkit-scrollbar-track-piece {/*스크롤배경*/
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {/*스크롤바 컬러*/
  border-radius: 8px;
  background-color: #ccc;
}

/*==========210128==========*/

/*--------시스템 점검 페이지--------*/
.center_card{
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  margin-top: 150px;
  box-shadow: 0px 5px 16px #ddd;
}
.center_card .maintainance_img{
  background-image: url("../images/compu2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.maintainance_title{
  padding: 280px 0 20px;
  color: #fff;
}
.deco_round_mint{
  background-color: #2ab8ce;
  border-radius: 100px;
  color: #fff;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.maintainance_cont{
  font-weight: 500;
}
.maintainance_time{
  text-align: left;
  padding-left: 1rem;
}
.maintainance_time h4{
  font-size: 1.3rem;
  color: #9100ff;
  font-weight: bold;
}
.maintainance_time p{
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #483d8b;
}

@media all and (max-width:767px) {
  .center_card{
   width: 80%;
   margin: 2rem auto;
  }
}

/*-------------------에러 페이지--------------------*/
.error_img{
  background-color: #2699fb;
  text-align: center;
}
.error_img img{
  margin: 0 auto;
  padding: 4rem 0;
}
.error_title{
  font-weight: 400;
}
.b{
  font-weight: bolder;
}
.error_cont p{
  font-size: 0.9rem;
  line-height: 0.9rem;
}








/*201126*/

.touch1{
  height:18px;
  font-size:9px;
}
.touch2{
  height:20px;
  font-size:10px;
}
.touch3{
  height:22px;
  font-size:11px;
}
.touch4{
  height:25px;
  font-size:12px;
}
.touch5{
  height:27px;
  font-size:13px;
}
.touch6{
  height:30px;
  font-size:15px;
}
/*==========200904==========*/
td.text-left-td{
  text-align:left !important;
}
td.text-center-td{
  text-align:center !important;
}
td.text-right-td{
  text-align:right !important;
}

th.text-left-th{
  text-align:left !important;
}
th.text-center-th{
  text-align:center !important;
}
th.text-right-th{
  text-align:right !important;
}
/*==========200903=================*/

.checkbox_lg{
  width: 20px;
  height: 20px;
}
.checkbox_md{
  width: 20px;
  height: 20px;
}
/*===========================*/
.number-float0{
  text-align: right !important;
}
.number-float1{
  text-align: right !important;
}
.number-float2{
  text-align: right !important;
}
.number-float3{
  text-align: right !important;
}
.number-float4{
  text-align: right !important;
}

/*======인풋박스 높이 조절=============*/
input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0;}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}

.form-control-sm {
  height: 1.5rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363642;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D6DBDF;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 200px;
}
.form-control-xs{
  max-width: 50px;
  height: 1.5rem;
  width: 100%;
  padding: 0.375rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363642;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D6DBDF;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 
}

.form-control-md {
  display: block;
  width: 100%;
  height: 1.9rem;
  padding: 0.275rem 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363642;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D6DBDF;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 200px;
}
.form-control-lg {
  display: block;
  width: 100%;
  height: 2.2rem;
  padding: 0.275rem 0.4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363642;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D6DBDF;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 200px;
}

.modal-subtitle{
  font-size: 15px;
}

.form-group-50{
  width: 50px;
}
.form-group-60{
  width: 60px;
}
.form-group-70{
  width: 70px;
}
.form-group-80{
  width: 80px;
}
.form-group-90{
  width: 90px;
}
.form-group-100{
  width: 100px;
}
.form-group-110{
  width: 110px;
}
.form-group-120{
  width: 120px;
}
.form-group-130{
  width: 130px;
}
.form-group-140{
  width: 140px;
}
.form-group-150{
  width: 150px;
}
/*-------------custom-select-----------*/
.custom-select {
    height: 1.5rem;
    font-size: 0.725rem;
    display: inline-block;
    width: 100%;
    color: #4F5467;
    vertical-align: middle;
    border: 1px solid #D6DBDF;
    border-radius: 4px;
    padding: 0 5px;
    /*appearance: none;*/
}
.custom-select-xsm {
    height: calc(1.5em + 0.5rem + 2px);
    /*padding-top: 0.25rem;*/
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    width: 100px;
    font-size: 0.8rem;
}

.custom-select-sm {
  /*height: calc(1.5em + 0.5rem + 2px);*/
  /*padding-top: 0.25rem;*/
  /*padding-bottom: 0.25rem;*/
  width: 150px;
}
.custom-select.custom-select-lg {
  height: 2.2rem;
  font-size: 1rem;
}
.custom-select.custom-select-md {
    height: 2rem;
    font-size: 0.9rem;
    width: 100%;
}

.custom-select-50 {
  width: 50px;
}
.custom-select-60 {
  width: 60px;
}
.custom-select-70 {
  width: 70px;
}
.custom-select-80 {
  width: 80px;
}
.custom-select-90 {
  width: 90px;
}
.custom-select-100 {
  width: 100px;
}
.custom-select-110 {
  width: 110px;
}
.custom-select-120 {
  width: 120px;
}
.custom-select-130 {
  width: 130px;
}
.custom-select-140 {
  width: 140px;
}
.custom-select-150 {
  width: 150px;
}
/*-------------input-sub----------*/
.input-sub .input-sub-text {
  position: absolute;
  top: 7px;
  right: 26px;
  color: dimgray;
  background-color: #fff;
  padding-left: 5px;
}
.input-sub{
  position: relative;
  max-width: 200px;
  margin-right: 10px;
}

.input-sub-sm{
  position: relative;
  max-width: 100px;
  margin-right: 10px;
}
.input-sub-md{
  position: relative;
  max-width: 150px;
  margin-right: 10px;
}
.input-sub-lg{
  position: relative;
  max-width: 250px;
  margin-right: 10px;
}
.input-sub input{
  max-width: 200px;
}
.input-sub-search{
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px!important;
  height: 1.5rem;
}
.input-sub-search-lg{
  position: absolute;
  top: 0;
  right: 0;
  height: 2.2rem;
  font-size: 16px!important;
}
.input-sub-search-md{
  position: absolute;
  top: 0;
  right: 0;
  height: 1.9rem;
}
.input-label-sm{
  margin: 3px 10px 0px 0px;
}
.input-label-md{
  margin: 7px 10px 5px 0px;
}
.input-label-lg{
  margin: 7px 10px 5px 0px;
}
.right-sub-title{
  font-size: 13px!important;
  background-color: lavender!important;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  margin: 0;
  color: darkslateblue;
  border: 1px solid #dee2e6;
  border-bottom: none;
}
.right-th-title th{
  font-size: 13px!important;
  background-color: lavender!important;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  margin: 0;
  color: darkslateblue;
  border: 1px solid #dee2e6;
  border-bottom: none;
}
/*=================버튼=================*/

.btn-lg{
  padding: 0.5rem 0.8rem!important;
  font-size: 0.8rem!important;
}
.btn-xlg {
  padding: 0.8rem 1rem!important;
  font-size: 1rem!important;
}
/*-----  end ------input-sub-----*/
/*익스플로러에서 덮는 기능이 안돼서 익스플로러에서는 top 값을 적용*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .right-sidebar-fix { 
  top: 117px;
} 
}

/*=======등록fix,left상세100%===================*/
.right-sidebar-fix {
  width: 400px;
  position: absolute;
  box-shadow: 0 0 4px rgba(20,20,31,0.1);
  display: block;
  /*height: 100%;*/
  z-index: 10;
  background: #fff;
  overflow-x: hidden;
  transition: 0.2s ease-in;
  border: 1px solid #e3e3e3; 
  right: 0;
  padding: 10px;
  max-height: 780px;
  min-width: 400px!important;
}
/*=======end======등록fix,left상세100%===================*/
/*================화면분할================*/
.right-list{
  height: 100%!important;
  z-index: 10;
  background: #fff;
  overflow-x: hidden;
  transition: 0.2s ease-in;
  border: 1px solid #e3e3e3; 
  right: 0;
  padding: 10px;
  min-height: 775px;
  overflow-y: auto;
}
.right-po-rel{
  position: relative;
}
.left-list{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #e3e3e3;
  background: #fff;
  margin-right: 11px;
  transition: 0.2s ease-in;
  min-height: 780px;
  position: relative;
  overflow-y: auto;
}
/*
.left-list table tr:hover{
  background-color: #0275d8;
  color: #fff;
  cursor: pointer;
}
*/
.container-fluid{
  overflow: auto;
}
.right-sidebar {
    min-width: 310px;
}
.left-005-1{
    width: 70%;
}

/*=======end======화면분할===================*/
.open-arrow{
  position: absolute;
  right: 9px;
  z-index: 99;
  display: none;
}
/*=============상하 화면 분할===================*/

.matrl-top-list{
  width: 100%;
  padding: 10px;
  border: 1px solid #e3e3e3;
  background: #fff;
  margin-right: 5px;  
  margin-bottom: 10px;
  min-height: 385px;
}
.matrl-bottom-list{
  width: 100%;
  padding: 10px;
  border: 1px solid #e3e3e3;
  background: #fff;
  margin-right: 5px;
  min-height: 385px;
}
.table-td-center td{
  text-align: center;
  vertical-align: middle!important;
}
.card-tab{
  padding: 1rem!important;
}
.modal-body table th{
  color: #363642;
    background-color: #f6f7f9;
    border-color: #ecedf1;
    text-align: center;
    vertical-align: middle;
}
/*
.modal-body table tr:hover{
  background-color: #0275d8;
  color: #fff;
  cursor: pointer;
}
*/

/*=======end======상하 화면 분할===================*/

.page-wrapper {
  background: #eee;
  position: relative;
  transition: 0.2s ease-in;
  padding-top: 3rem;
 }
 
.page-wrapper-nopadding {
  background: #eee;
  position: relative;
  transition: 0.2s ease-in;
  padding-top: 0rem;
 }

.page-wrapper > .container-fluid {
  padding: 10px;
  min-height: calc(100vh - 180px); }
 /*
#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .page-wrapper {
 margin-left: 12rem;
 }*/
#main-wrapper {
  width: 100%;
  overflow: hidden;
 }
.container-fluid .table-wrap-hid {
  height : 775px;
  min-width: 1100px;
  overflow: hidden;
}
.right-list table th{
  text-align: center;
  width: 100px;
}
.right-list table td input, select{
  max-width: 200px;
}

.left-list table td{
  text-align: center;
} 
.right-list table th{
  vertical-align: middle;
  background-color: #f6f7f9;
}
.rightsidebar-close{
  height: 25px;
  width: 50px;
  float: right;
}
.closebtn {
  padding: 2px 5px 0px 5px;
  text-decoration: none;
  font-size: 23px;
  color: #000;
  display: block;
  transition: 0.3s;
  line-height: 19px;
}

#left-width-btn{
  cursor: pointer;
}
.content-footer-sticky{
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  left: 0;
}
.content-footer-auto{
  background-color: #fff;
  bottom: 0;
  width: 100%;
  left: 0;
}
.top_sortbox{
  border: 1px solid #e3e3e3!important;
}
/*-----------------로그인_수정_추가-----------------*/


.login_card{
  background-color: #fff;
  border: 1px solid #ccc;
  width: 760px;
  height: 500px;
  margin: 0 auto;
  margin-top: 150px;
}
.login_left{
  position: relative;
  width: 100%;
  background-size: cover;
  text-align: center;
  background-image: url(../images/login_bg2.png);
}
.login_left p{
	display:none;
}
.login_left img{
 width: 70%;
}
.login_title{
  color: #fff;
}
.login_text{
  color: #fff;
}
.login_card .login-form{
  padding: 50px;
}
.login-header{
  text-align: center;
  padding: 50px 0 0;
  display:block;
}
.login_card .form-control {
  display: block;
  width: 100%;
  color: #363642;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #D6DBDF;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 100%!important;
}
.login_card .btn{
  height: 2.5rem!important;
  line-height: 0!important;
}

.login_btn a{
 color: #fff!important;
}
.login_btn{
  border-radius: 150px!important;
 color: #fff!important;
 background-color: #097FF5!important;
 font-size: 16px!important;
}
@media all and (max-width:767px) {
	.login_card{
	 width:70%;
	 height: 100%;
	 margin-top: 15%;
	 background-image: url(../images/login_mo_bg.png);
	 background-repeat: no-repeat;
     background-size: cover;
	}
	.login_left{
     padding-top: 9rem;
     padding-left: 2rem;
     height:280px;
     background: none;
	}
	.login_left p{
	  display:block;
	  color:#fff;
	  font-size : 1.8rem;
	  text-align :left;	   
      margin-bottom: 0;
    }
	.login-header{
	 display:none;
	}
}
/*------------end-----소정_수정_추가-----------------*/
.tableSelected { background-color : #0275d8 }

/*-------------PDA-----소정_수정_추가-----------------*/

/*--------------header---------------*/
  .pda_app{
    width: 100%!important;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .pda_mo_hd{
   background-color: #346CB0;
   text-align: center;
  }
  .pda_main_hd{
    background-image: linear-gradient(90deg, #003D7E, #005BAF);
    background-repeat: no-repeat;
    text-align: center;
    height: 210px;
    margin: 1rem;
    border-radius: 10px;
    position: relative;
  
  }
  .hd_bg_3{
    position: absolute;
    bottom: 0;
    right: 1rem;
    width: 80%;
    max-width: 270px;
  }
  .hd_title{
      white-space: pre-line;
      text-align: left;
      z-index: 9;
      color: #fff;
      font-size: 1.5rem;
      position: absolute;
      left: 1rem;
      bottom: 1rem;
  }
  .hd_logo{
      background-image: url('../images/hd_bg_logo.png');
      width: 100px;
      height: 24px;
      background-size: 100%;
      position: absolute;
      top: 20px;
      left: 20px;
  }



/*-----------------------------*/
  .main_btn_wrap{
    text-align: center;
  }
  .main_btn_wrap ul{
    width: 95%;
    margin: 0 auto;
    padding-left : 0;
  }
  .main_btn_list::after{
    clear: both;
    display: block;
    content: '';
  }
  .main_btn_list img{
      width: 37%;
  }
  .main_btn_wrap ul li{
    vertical-align: middle;
    width: 46%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 2%;
    box-sizing: border-box;
    list-style: none;
    float: left;
    padding: 1rem 0.5rem;
  }
  .main_btn_wrap ul a{
    text-decoration: none;
    color: #000;
    display: block;
  }
  .pda_list_name{
    margin: 0;
  }

/*--------------footer---------------*/
  .provide{
    text-align: center;
    padding: 0.5rem 0;
  }

  footer{
    margin-top: auto;
  }

/*========pda_003자재입고=========*/

.mo_main_title{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  padding: 9px;
  width: 230px;
  margin: 0 auto;
}
.mo_sortbox{
  width: 100%;
  padding: 0 6px;
  margin: 10px auto;
}
.mo_sort_title{
  padding: 8px 0!important;
}
.mo_sortbox input{
  max-width: 100%!important;
}
.mo_sortbox .input-sub{
  max-width: 100%!important;
}
.mo_sortbox .custom-select-md{
  max-width: 100%;
}
.mo_card{
  background-color: #fff;
}
.mo_card td{
  padding: 0.4rem;
}
.mo_card th{
  font-size: 0.5rem;
  text-align: center;
}
.mo_card tbody{
  font-size: 0.3rem;
}
.mo_btnbox_fix{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #f6f7f9;
}
/*========pda_004자재입고=========*/
.mo_card_fix{
  min-height: 350px;
  max-height: 350px;
  overflow: auto;
}
.mo_sumbox{
  vertical-align: middle;
  width: 100%;
  overflow: auto;
}
.mo_sum_font_lg{
  font-size: 1rem;
  font-weight: 600;
  color: #097FF5;
  padding: 0 10px;
}
.mo_btnbox{
  width: 100%;
  height: auto;
  /*overflow: auto;*/
}
.mo_modalbox{
  margin-top: 220px!important;
  font-size: 16px;
}
.font-red{
  color: #ff0000!important;
  font-weight: 600;
}
.bg_wh{
  background-color: #fff;
}
/*--=============touch===================*/
.num_keypad{
  padding: 0;
  margin: 0 auto;
}
.num_keypad table{
  height: 150px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  max-width: 1100px;
}
.num_keypad table td{
  padding: 5px;
  cursor: pointer;
  background-image: linear-gradient(45deg, rgb(248, 252, 255), rgb(255, 255, 255));
}
.num_keypad table td:hover{
  background-image: linear-gradient(45deg, rgb(174, 220, 255), rgb(174, 220, 255));
}
/*--====end=========touch===================*/